h1 {
color: white;
font-size: 100px;
outline-color: black;
} 
  
  .about {
  	text-align: right;
  	color: white;
  	border: 2px solid white;
    border-radius: 5px;
}


body {
	text-align: center; 
	background: url(https://cdn.pixabay.com/photo/2015/02/02/11/08/office-620817_960_720.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}